* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.app__form {
	display: flex;
	justify-content: center;
	width: 380px;
	margin-top: 20px;
	flex-wrap: wrap;
}

.app__formInput {
	flex: 1;
	margin-right: 3px;
}
.app__formButton {
	flex: 0;
}

.app__messages {
}
